<!-- wp:template-part {"slug":"header","theme":"saaslauncher-agency","area":"header"} /-->
<!-- wp:group {"tagName":"main","className":"has-secndary-color-background-color","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"secondary","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-secndary-color-background-color has-secondary-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"saaslauncher-agency/hero-section"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/brand-showcase"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/how-it-works"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/services"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/features"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/pricing"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/testimonials"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/blogs"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/faqs"} /-->
  <!-- wp:pattern {"slug":"saaslauncher-agency/cta"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"saaslauncher-agency"} /-->
