<!-- wp:template-part {"slug":"header-pages","theme":"saaslauncher-agency"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"terniary","layout":{"type":"constrained","wideSize":"100%","contentSize":"100%"}} -->
<main class="wp-block-group has-terniary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"spacing":{"padding":{"top":"24px","bottom":"24px","left":"12px","right":"12px"}},"border":{"radius":{"topLeft":"0px","topRight":"0px","bottomLeft":"0px","bottomRight":"0px"}}},"backgroundColor":"background-alt","textColor":"background","fontSize":"mega"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"42px","bottom":"0","right":"26px","left":"26px"}}},"layout":{"type":"constrained","contentSize":"1260px"}} -->
<div class="wp-block-group" style="padding-top:42px;padding-right:26px;padding-bottom:0;padding-left:26px"><!-- wp:post-featured-image {"width":"100%","height":"600px","className":"is-style-default","style":{"border":{"radius":"10px"},"spacing":{"margin":{"top":"0"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"42px","bottom":"42px","right":"26px","left":"26px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1260px"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:42px;padding-right:26px;padding-bottom:42px;padding-left:26px"><!-- wp:post-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher-agency"} /-->
